<div style="border-bottom: 1px solid #ddd; margin-bottom: 1em; padding-bottom: 1em;">
<img src="<%= @post.user.image_url %>" style="width: 64px; height: 64px; float: right; border-radius: 50em; -webkit-border-radius: 50em; -moz-border-radius: 50em;" />
<h3><%= @post.subject %></h3>
<p>Escrito por: <strong><%= @post.user.first_name %> <%= @post.user.last_name %></strong><br/>
Dirigido a: <strong><%= @post.group.name %></strong></p>
</div>

<%= simple_format(@post.body) %>

<p style="border: 1px solid #ddd; background-color: #fafafa; padding: 1em; margin: 2em 0;">
Contesta esta <%= @post.post_type %> en la siguiente liga: <a href="http://buzon.cimav.edu.mx/<%= @post.id %>">http://buzon.cimav.edu.mx/<%= @post.id %></a>.
</p>